:root {
  --font-body: Arial, Helvetica, sans-serif;
  --font-headline: Haettenschweiler, "Arial Narrow Bold", sans-serif;
  /* colors */
  --primary-color: #f0a868;
  --secondary-color: #525b0f;
  --tertiary-color: #a4b8c4;
  --light-grey: #d0d0d0;
  --dark-grey: #303030;

  /* sizes */
  --font-base: 18px;
  --small-font: 0.8em;
  --large-font: 1.2em;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font-body);
  font-size: var(--font-base);
  color: var(--dark-grey);
}

img {
  max-width: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

.logo {
  line-height: 60px;
  width: 245px;
  overflow: hidden;
  display: flex;
  font-size: 30px;
  text-align: right;
  font-family: var(--font-headline);
}

.logo img {
  width: 60px;
  height: 60px;
}

.logo a {
  text-decoration: none;
  color: var(--font-body);
}

.hero {
  position: relative;
}

.hero .logo {
  position: absolute;
  left: calc(50% - 60px);
  bottom: -10px;
  background-color: white;
}

.logo--square {
  font-size: var(--small-font);
  width: 110px;
  height: 80px;

  flex-direction: column;
  align-items: flex-end;
  box-shadow: 1px 1px 4px var(--light-grey);
  justify-content: center;
  align-items: center;
  line-height: 1;
}

.logo--square img {
  width: 90px;
  height: 90px;
  margin-top: -1.3em;
}

.logo--square>div {
  margin-top: -1.7em;
}

/* utility classes */
.highlight {
  color: var(--tertiary-color);
}

.hide {
  display: none;
}

button {
  padding: 0.5em 2em;
  background-color: var(--secondary-color);
  color: white;
  margin: auto;
  display: block;
  border: 0;
  font-size: var(--large-font);
  cursor: pointer;
}

.divider {
  border-bottom: 2px solid var(--primary-color);
}

.alert {
  display: flex;
  align-items: center;
  background-color: #e49595;
  border: 3px solid #441211;
  justify-content: space-between;
  padding: 0 1rem 0 1rem;
  margin-top: .25rem;
}

.alert p {
  margin: .25rem;
}

.alert span {
  /* float: right; */
}

/* End utility classes */

/* Cart icon styles */
.cart {
  padding-top: 1em;
  position: relative;
  text-align: center;
}

.cart svg {
  width: 30px;
  transition: transform 1s ease-in-out;
}

.cart:hover svg {
  fill: gray;
}

.animate-cart {
  transform: rotate(360deg);
}

#cartLength {
  font-size: 0.85rem;
  position: absolute;
  top: 5px;
  left: 20px;
  background-color: #f0a868;
  padding: 5px;
  border-radius: 50%;
  text-align: center;
}

/* End cart icon styles */

.mission {
  padding: 0 0.5em;
  /* margin: 0.5em 0; */
  line-height: 1.3;
  max-width: 600px;
  margin: auto;
}

.products {
  padding: 0.5em;
}

.product-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
}

.product-list a {
  text-decoration: none;
  color: var(--dark-grey);
}

/* styles for product-lists*/
.product-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  list-style-type: none;
}

.product-grid li {
  grid-column: span 1;
}

.product-grid li a {
  color: #000;
  text-decoration: none;
  text-align: center;
}

/* END styles for product-lists*/

/* Styles for product lists */
.product-card {
  flex: 1 1 45%;
  margin: 0.25em;
  padding: 0.5em;
  border: 1px solid var(--light-grey);
  max-width: 250px;
}

.product-card h2,
.product-card h3,
.product-card p {
  margin: 0.5em 0;
}

.card__brand {
  font-size: var(--small-font);
}

.card__name {
  font-size: 1em;
}

/* End product list card */

.product-detail {
  padding: 1em;
  max-width: 500px;
  margin: auto;
}

.product-detail img {
  width: 100%;
}

/* Start cart list card styles */
.cart-card {
  display: grid;
  grid-template-columns: 25% auto 15%;
  font-size: var(--small-font);
  /* max-height: 120px; */
  align-items: center;
}

.cart-card__image {
  grid-row: 1/3;
  grid-column: 1;
}

.cart-card p {
  margin-top: 0;
}

.cart-card .card__name {
  grid-row: 1;
  grid-column: 2;
}

.cart-card__color {
  grid-row: 2;
  grid-column: 2;
}

.cart-card__quantity {
  grid-row: 1;
  grid-column: 3;
}

.cart-card__price {
  grid-row: 2;
  grid-column: 3;
}

/* ============ Carousel ============ */
.carousel {
  position: relative;
}

.activeImage img {
  max-width: 50%;
}

.carousel > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slide {
  position: absolute;
  inset: 0;
  opacity: 0;
}

.slide > img {
  display: block;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.activeImage {
  opacity: 1;
}

.carousel-btn {
  position: absolute;
  z-index: 2;
  background: none;
  border: none;
  font-size: 4rem;
  top: 50%;
  transform: translate(-50%);
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
  border-radius: .25rem;
  padding: 0 .5rem;
  color: rgba(255, 255, 255, 0.5);
}

.carousel-btn:hover,.carousel-btn:focus {
  background-color: rgba(0, 0, 0, 0.2);
}

.carousel-btn:focus {
  outline: 1px solid black;
}

.carouse-btn.prev {
  left:1rem;
}

.carousel-btn.next {
  right:1rem;
}

/********** MODA L************/
/* Modal Header */
.modal-header {
  padding: 2px 16px;
  background-color: #f0a868;
  color: white;
}

/* Modal Body */
.modal-body {
  padding: 2px 16px;
}

/* Modal Footer */
.modal-footer {
  padding: 2px 16px;
  background-color: #f0a868;
  color: white;
}

/* Modal Content */
.modal-content {
  position: fixed;
  z-index: 999;
  background-color: #fefefe;
  padding: 0;
  border: 1px solid #888;
  width: 50vw;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation-name: animatetop;
  animation-duration: 0.4s;
  left: 50%;
  margin-left: -25vw;
  top: 20%;
}

/* Add Animation */
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }

  to {
    top: 0;
    opacity: 1;
  }
}

/************Form************/
/* Give Away */
input {
  display: block;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  width: 100%;
}

@media screen and (min-width: 500px) {
  body {
    max-width: 1080px;
    margin: auto;
  }

  .mission {
    font-size: 1.2em;
  }

  .cart-card {
    font-size: inherit;
    grid-template-columns: 150px auto 15%;
  }
}

footer {
  font-size: var(--small-font);
  padding: 1em;
}